.mainpage-icon {
    color: var(--second-color);
    font-size: 4rem;
  }

  * {
    margin: 1rem;
    padding: 0;
    box-sizing: border-box;
    }
  
  .mainpage-tiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  
  .mainpage-tiles-item {
    display: inline-block;
    background: var(--third-color);
    margin: 2rem;
    padding: 1.5rem;
    min-width: 15rem;
    min-height: 20rem;
    border: 3px solid var(--first-color);
    border-collapse: collapse;
  }
  
  .mainpage-tiles-item:hover {
    cursor: pointer;
    border: 3px solid var(--second-color);
  }
  
  .mainpage-tiles-item h2 {
    font-size: 2.5rem;
    color: var(--text-color);
  }
  
  .mainpage-tiles-item p {
    font-size: 1.5rem;
    color: var(--text-color);
  }
  
  .mainpage-tiles hr {
    background-color: var(--second-color);
    border-color: var(--second-color);
    width: 95%;
    height: .25rem;
  }