.dashboard {
  margin: 1rem;
  padding: 0;
  box-sizing: border-box;
}

.dashboard-icon {
  color: var(--second-color);
  font-size: 4rem;
}

.dashboard-tiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.dashboard-tiles-item {
  display: inline-block;
  background: var(--third-color);
  margin: 2rem;
  padding: 1.5rem;
  min-width: 15rem;
  min-height: 20rem;
  border: 3px solid var(--first-color);
  border-collapse: collapse;
}

.dashboard-tiles-item:hover {
  cursor: pointer;
  border: 3px solid var(--second-color);
}

.dashboard-tiles-item h2 {
  font-size: 2.5rem;
  color: var(--text-color);
}

.dashboard-tiles-item p {
  font-size: 2.5rem;
  color: var(--text-color);
}

.dashboard-tiles hr {
  background-color: var(--second-color);
  border-color: var(--second-color);
  width: 98%;
  height: 0.25rem;
  margin: 0;
}
