:root {
	--first-color: #000; /*black*/
	--second-color: #66cdaa; /*mediumaquamarine*/
  --third-color: #202020;
	--text-color: #fff; /*white*/
  }

  * {
	margin: 1rem;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
	color: var(--text-color);
  }

body {
	background-color: var(--first-color);
}

.App-tiles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.App-tiles-item {
  display: inline-block;
  background: var(--third-color);
  margin: 2rem;
  padding: 1.5rem;
  min-width: 15rem;
  min-height: 20rem;
  border: 3px solid var(--first-color);
  border-collapse: collapse;
}

.App-tiles-item:hover {
  cursor: pointer;
  border: 3px solid var(--second-color);
}

.App-tiles-item h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}

.App-tiles hr {
  background-color: var(--second-color);
  border-color: var(--second-color);
  width: 95%;
  height: .25rem;
}
