:root {
	--first-color: #000; /*black*/
	--second-color: #66cdaa; /*mediumaquamarine*/
  --third-color: #202020;
	--text-color: #fff; /*white*/
  }

  
* {
  font-family: 'Source Sans Pro', sans-serif;
  }

  body {
  background-color: var(--first-color);
  }
